
    input#input {
	   background-color: white;
       border: 0px solid;
	   padding-right: 8px;
	   padding-top: 30px;
	   padding-bottom: 10px;
       height: 45px;
       color: grey;
	   font-size: 45px;
	   text-align: right;
	  }
    
    input#res {
	   background-color: white;
       border: 0px solid;
       padding-top: 10px;
	   padding-bottom: 30px;
	   padding-right: 8px;
	   height: 25px;
       color: #CCC;
	   font-size: 25px;
	   text-align: right;
	  }
	  
	 td#one{
	  	text-align: center;
	    background-color: #505050;
	    padding-top:14px;
		padding-bottom:14px;
		padding-right:25px;
		padding-left:25px;
	    color: white;
	  }
	  
	  td#two{
	    text-align:center;
	    background-color: #707070;
	    padding-top:13px;
		padding-bottom:13px;
		padding-right:12px;
		padding-left:12px;
	    color: white;   
	  }
	  
	  td#adjust{
	    text-align:center;
	    background-color: #707070;
	    padding-top:13px;
		padding-right:12px;
		padding-left:12px;
	    color: white; 
	  }
	  
	  td#height{
	    text-align:center;
	    background-color: #707070;
	    padding-top:15px;
		padding-bottom:13px;
		padding-right:12px;
		padding-left:12px;
	    color: white; 
	  }
	  
	 table#first{
	 	border-spacing: 0px;
		background-color: #505050;
		padding-right: 0px;
	 } 
	 
	 table#second{
	    padding-top: 0px;
		padding-left: 0px;
	    padding-bottom: 0px;
	    padding-right: 16px;
	    background-color:#7FFFD4;
	 	border-spacing: 0px;
	 }
	 .center {
    margin: 0 auto;
	min-width: 255px;
    width: 15%;
    }
	
body {
background-color:#d3d3d3;
}
h1 {
text-align:center;
font-family:impact;
}
h3 {
text-align:center;
}
h4 {
text-align:center;
font-family:helvetica;
}
h5 {
text-align:center;
}
p {
text-align:center;
font-size:15;
padding-left:25px;
padding-right:25px;
}
hr {
border-color:white;
background-color:grey;
height:1px;
}
.hr{
height: 0px;
border-color:#d3d3d3;
background-color:#d3d3d3;
}

@media screen and (max-width: 800px) {  
    td#adjust {
        padding-bottom: 25px;
    }
	table#first {
	padding-bottom: 13px;
	}
	input {
	width: 238px;
	}
}

@media screen and (min-width: 800px) and (max-width: 1300px) {    
    td#adjust {
        padding-bottom: 24px;
    }
	table#first {
	padding-bottom: 13px;
	}
	input {
	width: 239px;
	}
}
@media screen and (min-width: 1300px) and (max-width: 2000px) {        
    td#adjust {
        padding-bottom: 24px;
    }
    table#first {
	padding-bottom: 13px;
	}
	input {
	width: 239px;
	}
}
